.title-container{
    text-align: center;
}

.body-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.body-wrapper > div:nth-child(2){
    margin-top: 3rem;
}

.body-wrapper > div:nth-child(3){
    margin-top: 6rem;
}

.video-wrapper{
    height: 50%;
    width: 50%;
}

.video-wrapper>video{
    height: 100%;
    width: 100%;
}

@media (max-width:1007px) {
    .body-wrapper > div:nth-child(2){
        margin-top: 0;
    }
    
    .body-wrapper > div:nth-child(3){
        margin-top: 0;
    }
}
